section {
  height: 100%;
  width: 100%;
  text-align: center;  
}

.mdl-card{
  width: 100%;
  height: inherit;
  display: block;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  justify-content: center; */
}
